<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>ALBUM</th>
        <th>COD DA FOTO</th>
        <th>TÍTULO</th>
        <th>URL DA IMAGEM</th>
        <th>TAMANHO DA IMAGEM</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedTeiaComponent">
        <td>{{ item.albumId }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.thumbnailUrl }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="previousPage()">Anterior</button>
<button (click)="nextPage()">Próximo</button>
